<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>127803739780-8esa0u9remefrvphsci1a3mslusdp9h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127803739780-8esa0u9remefrvphsci1a3mslusdp9h9</string>
	<key>API_KEY</key>
	<string>AIzaSyAuv7Xt9SiKYdcAw3CD-MuPU7vTjlFgK-0</string>
	<key>GCM_SENDER_ID</key>
	<string>127803739780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brefft.GChat</string>
	<key>PROJECT_ID</key>
	<string>gochat-c0f48</string>
	<key>STORAGE_BUCKET</key>
	<string>gochat-c0f48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:127803739780:ios:4c0e5bcf3d3110f1</string>
	<key>DATABASE_URL</key>
	<string>https://gochat-c0f48.firebaseio.com</string>
</dict>
</plist>